$backgroundHeaderNav: #020203;
$backgroundProfil: #ffffff;
$backgroundBoutonSport: #ffffff;
$backgroundInformationNutritionel: #fbfbfb;
$frontName: #ff0101;
$navFrontcolor: #f6f6f6;
$fontInformationNutritionel: #74798c;
