@import "./_variables.scss";
@import "./reset.scss";

.scrollable {
  &::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
    height: 0px;
    border-radius: 5px; /* Coins arrondis */
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent; /* Couleur de l'arrière-plan de la barre de défilement */
  }

  &::-webkit-scrollbar-thumb {
    background: $frontName; /* Couleur de la poignée de la barre de défilement */

    border-radius: 5px; /* Coins arrondis */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $frontName;
    cursor: pointer; /* Couleur de la poignée de la barre de défilement au survol */
  }
  &::-webkit-scrollbar {
    height: 12px; /* Nouvelle hauteur de la barre de défilement */
  }
}
