// profil.scss
@import "../styles/styles.scss";

.sideBarProfil {
  display: flex;
  flex: 1;
  flex-grow: 1;

  .erreur404 {
    color: red;
    display: flex;

    justify-content: center;
    align-items: center;
    flex: 1;
    p {
      font-size: 56px;
    }
  }

  .profil {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px 25px 25px 25px;
    gap: 50px;

    &__welcome {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__name {
        display: flex;
        font-size: 48px;

        &--color {
          color: $frontName;
        }
      }

      &__message {
        font-size: 18px;
      }
    }

    &__informations {
      display: flex;
      flex-grow: 1;

      &__graphiques {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        flex: 6;

        &__activiteQuotidienne {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__others {
          display: flex;
          justify-content: space-between;
          gap: 15px;
          overflow-y: hidden;
          overflow-x: auto;
          padding-bottom: 10px; /* Ajouter du padding autour du conteneur */

          &::-webkit-scrollbar {
            width: 10px; /* Largeur de la barre de défilement */
            height: 0px;
            border-radius: 5px; /* Coins arrondis */
          }

          &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: transparent; /* Couleur de l'arrière-plan de la barre de défilement */
          }

          &::-webkit-scrollbar-thumb {
            background: $frontName; /* Couleur de la poignée de la barre de défilement */

            border-radius: 5px; /* Coins arrondis */
          }

          &::-webkit-scrollbar-thumb:hover {
            background: $frontName;
            cursor: pointer; /* Couleur de la poignée de la barre de défilement au survol */
          }
          &::-webkit-scrollbar {
            height: 12px; /* Nouvelle hauteur de la barre de défilement */
          }
        }
      }

      &__infoNutritionelles {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
