// profil.scss
@import "../styles/styles.scss";

.sideBarProfil {
  display: flex;
  flex: 1;
  flex-grow: 1;

  .profil {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px 25px 25px 25px;
    gap: 50px;

    &__welcome {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__name {
        display: flex;
        font-size: 48px;

        &--color {
          color: $frontName;
        }
      }

      &__message {
        font-size: 18px;
      }
    }

    &__informations {
      display: flex;
      flex-grow: 1;

      &__graphiques {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        flex: 6;

        &__activiteQuotidienne {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__others {
          display: flex;
          justify-content: space-between;
          gap: 15px;
          overflow-y: hidden;
          overflow-x: scroll;

          /* Styles spécifiques à la barre de défilement */
          scrollbar-width: thin; /* Pour Firefox */
          scrollbar-color: darkgray lightgray; /* Pour Firefox */

          /* Pour les navigateurs basés sur WebKit (comme Chrome et Safari) */
          &::-webkit-scrollbar {
            width: 12px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: darkgray;
          }

          &::-webkit-scrollbar-track {
            background-color: lightgray;
          }
        }
      }

      &__infoNutritionelles {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
